# dependencies
node_modules
.pnp
.pnp.js

# build
dist
build
.granite

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea
.DS_Store

# vite
*.local

.vercel

# AIT 빌드 산출물
*.ait
